@model TP3.Core.Data.Challenge.ChallengeData
@section Styles
{
    <link href="~/css/markdown/css/bootstrap-markdown.min.css" rel="stylesheet" />
}
<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand fa fa-user"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Agregar  Desafio
            </h3>
        </div>

    </div>
    <form class="kt-form" method="post">
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Title" class="col-md-2 control-label"></label>
                        <input asp-for="Title" class="form-control" placeholder="Título">
                        <span asp-validation-for="Title" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="Description" class="col-md-2 control-label"></label>
                        <textarea asp-for="Description" class="form-control" data-provide="markdown" data-iconlibrary="fa" rows="10"></textarea>
                        <span asp-validation-for="Description" class="invalid-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="NetTypeId" class="col-md-2 control-label"></label>
                        <select asp-for="NetTypeId" class="form-control" asp-items="@(new SelectList(@ViewBag.NetTypes,"Id", "Name"))">
                            <option value="" hidden disabled selected>Seleccione un tipo de red</option>
                        </select>
                        <span asp-validation-for="NetTypeId" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ConnectionTypeId" class="col-md-2 control-label"></label>
                        <select asp-for="ConnectionTypeId" class="form-control" asp-items="@(new SelectList(@ViewBag.ConnectionTypes,"Id", "Name"))">
                            <option value="" hidden disabled selected>Seleccione un tipo de conexión</option>
                        </select>
                        <span asp-validation-for="ConnectionTypeId" class="invalid-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <h3 class="kt-section__title">Elementos</h3>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group ">
                                <label asp-for="ElementId" class="col-md-2 control-label"></label>
                                <select asp-for="ElementId" class="form-control" asp-items="@(new SelectList(@ViewBag.Elements,"Id", "Name"))">
                                    <option value="" hidden disabled selected>Seleccione un elemento</option>
                                </select>
                            </div>


                        </div>
                        <div class="col-sm-4">
                            <div class="form-group ">
                                <label asp-for="Quantity" class="col-md-2 control-label"></label>
                                <div class="input-group">
                                    <input asp-for="Quantity" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Quantity)">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" onclick="addElement()" type="button">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-12" id="elements">
                            <partial name="_Element" model="Model" />
                        </div>
                    </div>
                    <h3 class="kt-section__title">Cables</h3>
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group ">
                                <label asp-for="CableId" class="col-md-2 control-label"></label>
                                <select asp-for="CableId" class="form-control" asp-items="@(new SelectList(@ViewBag.Cables,"Id", "Name"))">
                                    <option value="" hidden disabled selected>Seleccione un cable</option>
                                </select>
                            </div>


                        </div>
                        <div class="col-sm-4">
                            <div class="form-group ">
                                <label asp-for="Order" class="col-md-2 control-label"></label>
                                <div class="input-group">
                                    <input asp-for="Order" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Order)">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" onclick="addCable()" type="button">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-12" id="cables">
                            <partial name="_Cable" model="Model" />
                        </div>
                    </div>
                    <h3 class="kt-section__title">Comandos</h3>
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group ">
                                <label asp-for="CommandId" class="col-md-2 control-label"></label>
                                <div class="input-group">
                                    <select asp-for="CommandId" class="form-control" asp-items="@(new SelectList(@ViewBag.Commands,"Id", "Name"))">
                                        <option value="" hidden disabled selected>Seleccione un comando</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" onclick="addCommand()" type="button">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                        </div>
                        
                        <div class="col-sm-12" id="commands">
                            <partial name="_Command" model="Model" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <button type="submit" class="btn btn-primary">Aceptar</button>
                <a asp-action="Index" class="btn btn-secondary">Volver</a>
            </div>
        </div>
        <span class="AntiForge"> @Html.AntiForgeryToken() </span>
    </form>





</div>
@section Scripts
{
    <script src="~/js/markdown/bootstrap-markdown.js"></script>
    <script>
        var KTBootstrapMarkdown = function () {
            // Private functions
            var demos = function () {

            }

            return {
                // public functions
                init: function () {
                    demos();
                }
            };
        }();

        // Initialization
        jQuery(document).ready(function () {
            KTBootstrapMarkdown.init();
        });

        function addElement() {
            KTApp.block('.kt-portlet', {});
             var data = $('form').serialize();
                $.ajax({
                    url : '@Url.Action("AddElement")',
                    data: data,
                    type: 'POST',
                    success: function(data){
                        var selector = $("#elements");
                        selector.empty();
                        selector.html(data);
                        KTApp.unblock('.kt-portlet');
                    }
                });
        }


        function updateElement() {
            KTApp.block('.kt-portlet', {});
            var data = $('form').serialize();
            $.ajax({
                url: '@Url.Action("UpdateElement")',
                data: data,
                type: 'POST',
                success: function (data) {
                    var selector = $("#elements");
                    selector.empty();
                    selector.html(data);
                    KTApp.unblock('.kt-portlet');
                }
            });
        }



        function addCable() {
            KTApp.block('.kt-portlet', {});
             var data = $('form').serialize();
                $.ajax({
                    url : '@Url.Action("AddCable")',
                    data: data,
                    type: 'POST',
                    success: function(data){
                        var selector = $("#cables");
                        selector.empty();
                        selector.html(data);
                        KTApp.unblock('.kt-portlet');
                    }
                });
        }


        function updateCable() {
            KTApp.block('.kt-portlet', {});
            var data = $('form').serialize();
            $.ajax({
                url: '@Url.Action("UpdateCable")',
                data: data,
                type: 'POST',
                success: function (data) {
                    var selector = $("#cables");
                    selector.empty();
                    selector.html(data);
                    KTApp.unblock('.kt-portlet');
                }
            });
        }

          function addCommand() {
            KTApp.block('.kt-portlet', {});
             var data = $('form').serialize();
                $.ajax({
                    url : '@Url.Action("AddCommand")',
                    data: data,
                    type: 'POST',
                    success: function(data){
                        var selector = $("#commands");
                        selector.empty();
                        selector.html(data);
                        KTApp.unblock('.kt-portlet');
                    }
                });
        }


        function updateCommand() {
            KTApp.block('.kt-portlet', {});
            var data = $('form').serialize();
            $.ajax({
                url: '@Url.Action("UpdateCommand")',
                data: data,
                type: 'POST',
                success: function (data) {
                    var selector = $("#commands");
                    selector.empty();
                    selector.html(data);
                    KTApp.unblock('.kt-portlet');
                }
            });
        }

    </script>

}